
  body{
    background-image: url("season11_bg.jpeg");
  }
  #soundBox {
    margin-top: 280px;
    width: 100px; /* szerokość kwadratu */
    height: 100px; /* wysokość kwadratu */
    cursor: pointer; /* zmienia kursor na wskaźnik */
  }
