body {
    font-family: Dm Sans, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-color: #f4f4f4;
  }
  
  .welcome-message {
    font-size: 72px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .subtext {
    font-size: 32px;
    color: #666;
    margin-bottom: 50px;
    margin-left: 500px;
    margin-right: 500px;
    font-weight: 500;
  }
  
  .start-button {
    font-size: 50px;
    margin-top: -100px;
    padding: 30px 50px;
    background-color: black;
    color: white;
    border-radius: 100px;
    border: 5px solid #00ff26;
    box-shadow: 0px 15px #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .start-button:hover {
    background-color: #00ff26;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  
  .blob {
    background-color: #00ff26; /* Green blob color */
    width: 200px;
    height: 200px;
    border-radius: 50%;

    position: absolute;
  }
  
  /* Additional blobs can be styled and positioned as needed */
  /* Add to your existing CSS */
.screen-hidden {
    display: none;
  }
.skip-button{
    font-size: 50px;
    margin-top: -100px;
    padding: 30px 50px;
    background-color: #5c5c5c;
    color: white;
    border-radius: 100px;
    box-shadow: 0px 13px #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.start-button:hover {
    background-color: #000000;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */   
  }
  